aiohttp==3.7.4.post0
aniso8601==9.0.1
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
boto3==1.17.89
botocore==1.20.89
Brotli==1.0.9
bs4==0.0.1
cachelib==0.2.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
cognitojwt==1.4.1
cryptography==3.4.7
cssselect2==0.4.1
ecdsa==0.17.0
Flask==1.1.4
Flask-Cognito==1.17
Flask-Cors==3.0.10
flask-restx==0.4.0
Flask-WeasyPrint==0.6
fonttools==4.26.2
html5lib==1.1
idna==2.10
importlib-metadata==4.5.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
lxml==4.6.3
MarkupSafe==2.0.0
multidict==5.1.0
packaging==21.0
pdfkit==0.6.1
Pillow==8.3.1
pluggy==1.0.0
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pydyf==0.1.1
pymssql==2.2.1
pyparsing==2.4.7
pyphen==0.11.0
pyrsistent==0.17.3
pytest==6.2.5
python-dateutil==2.8.1
python-dotenv==0.17.1
python-jose==3.3.0
pytz==2021.1
requests==2.25.1
rsa==4.7.2
s3transfer==0.4.2
six==1.16.0
soupsieve==2.2.1
tinycss2==1.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
weasyprint==53.1
webencodings==0.5.1
Werkzeug==1.0.1
XlsxWriter==3.0.1
yarl==1.6.3
zipp==3.4.1
zopfli==0.1.8
